<app-divider>
    Table Component
</app-divider>
<app-table classNames="striped celled" [data]="data" [headers]="headers"></app-table>

<app-divider>
    Tab Menu
</app-divider>
<app-tabs>
    <a
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="./"
                class="item"
            >Biography</a>
            <a routerLinkActive="active" routerLink="companies" class="item">Companies</a>
            <a routerLinkActive="active" routerLink="partners" class="item">Partners</a>
</app-tabs>