<app-divider>Modal Component</app-divider>
<button (click)="onClick()">Mostra finestra modale</button>
<app-modal (close)="onClick()" *ngIf="modalOpen">
    <div modalTitle>Titolo personalizzabile</div>
    <p>
        Sono una finestra Modale riutilizzabile!
    </p>
    <ng-container modalFooter>
        <button (click)="onClick()" class="ui button">Chiudimi!</button>
    </ng-container>
</app-modal>

<app-divider>
    Accordion Component
</app-divider>
<app-accordion [items]="items"></app-accordion>